header {
  background-image: url('../../public/images/pattern-bg.png');
  background-position: center;
  background-size: cover;
}

header > div {
  width: 85vw;
  margin: auto;
}

.title {
  padding: 1.5rem 0 0 0;

  color: white;
  font-size: 1.4rem;
  font-weight: var(--font-medium);
}

form {
  display: flex;

  width: 100%;
  padding: 1.75rem 0 2rem 0;

  font-size: 1.2rem;
}

form input {
  width: 100%;
  padding: 0.75rem 1.25rem;

  border: none;
  border-radius: 0.75rem 0 0 0.75rem;

  font-size: inherit;
  cursor: text;
}

form input:focus {
  outline-style: none;
}

form button {
  padding: 0.75rem 1rem;

  border: 0.1rem solid black;
  border-radius: 0 0.75rem 0.75rem 0;

  background-color: black;
  color: white;
  font-size: inherit;

  cursor: pointer;
}

form button:hover {
  background-color: #323232;
  border: 0.1rem solid #323232;
}

.ipDetails {
  z-index: 1000;

  transform: translateY(12.5rem);
  margin-top: -12.5rem;
  padding: 1.25rem;
  gap: 1.25rem;

  display: flex;
  flex-direction: column;
  width: inherit;

  border-radius: var(--border-radius);
  background-color: #fff;
  text-align: center;
}

.ipDetails div {
  text-align: center;
}

.ipDetails div h3 {
  padding-bottom: 0.25rem;
  font-size: 0.65rem;
  font-weight: var(--font-small);
  color: var(--grey);
}

.ipDetails div p {
  font-size: 1.1rem;
  color: var(--dark-grey);
  font-weight: var(--font-large);
}

@media screen and (min-width: 768px) {
  form {
    width: auto;
  }

  .ipDetails {
    flex-direction: row;
    justify-content: space-between;

    transform: translateY(2rem);
    margin-top: -2rem;
    padding: 1.5rem 2rem;
    gap: 2rem;
  }

  .ipDetails div {
    text-align: left;
  }

  .ipDetails div h3 {
    padding-bottom: 0.25rem;
    font-size: 0.65rem;
    font-weight: var(--font-small);
    color: var(--grey);
  }

  .ipDetails div p {
    font-size: 1.1rem;
    color: var(--dark-grey);
    font-weight: var(--font-large);
  }
}

/* -- invalid ip-- */

.invalid {
  margin-right: auto;
  padding: 0 0.75rem;
  color: red;
  font-size: 1rem;
  transform: translateY(-0.75rem);
}
