header {
  background-image: url('../../public/images/pattern-bg.png');
  background-position: center;
  background-size: cover;
}

header > div {
  width: 85vw;
  margin: auto;
}

.title {
  padding: 1.75rem 0 0 0;

  color: white;
  font-size: 1.4rem;
  font-weight: var(--font-medium);
}

form {
  display: flex;

  width: 100%;
  padding: 1.5rem 0;

  font-size: 1.2rem;
}

form input {
  width: 100%;
  padding: 0.75rem;

  border: none;
  border-radius: 0.75rem 0 0 0.75rem;

  font-size: inherit;
  cursor: text;
}

form input:focus {
  outline-style: none;
}

form button {
  padding: 0.75rem 1rem;

  border: 0.1rem solid black;
  border-radius: 0 0.75rem 0.75rem 0;

  background-color: black;
  color: white;
  font-size: inherit;

  cursor: pointer;
}

form button:hover {
  background-color: ;
}

.ipDetails {
  z-index: 1000;
  margin-top: -12.5rem;

  display: flex;
  flex-direction: column;
  transform: translateY(12.5rem);
  width: inherit;

  border-radius: var(--border-radius);
  background-color: #fff;
  text-align: center;
}

.ipDetails {
  padding: 1.25rem;
  gap: 1.25rem;
}

.ipDetails div {
  text-align: center;
}

.ipDetails div h3 {
  padding-bottom: 0.25rem;
  font-size: 0.65rem;
  font-weight: var(--font-small);
  color: var(--grey);
}

.ipDetails div p {
  font-size: 1.1rem;
  color: var(--dark-grey);
  font-weight: var(--font-large);
}

/* -- invalid ip-- */

.invalid {
  margin-right: auto;
  padding: 0 0.75rem;
  color: red;
  font-size: 1rem;
  transform: translateY(-0.75rem);
}
